flows_raspberrypi_hydroponic.json
[
    {
        "id": "1d22c714.e50369",
        "type": "tab",
        "label": "GET Telemetry",
        "disabled": false,
        "info": ""
    },
    {
        "id": "87cb301d.9893c",
        "type": "tab",
        "label": "POST ",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5127740.f28848c",
        "type": "tab",
        "label": "System rules",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3b0df974.6ef076",
        "type": "tab",
        "label": "Settings",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e8854cf5.bbc99",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "8abb8d14.1da7c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "c9f3a157.d0af7",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "e5be2d4e.0683",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 7,
        "height": 1
    },
    {
        "id": "c9066fca.cee52",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 4,
        "width": 7,
        "height": 1
    },
    {
        "id": "2ee23605.85e39a",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 7,
        "height": 1
    },
    {
        "id": "cf3c4bd4.b57d78",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 8,
        "width": 7,
        "height": 1
    },
    {
        "id": "d3290ae7.21fe98",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "2de4a264.b5f62e",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "60a0073d.7b0198",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 8,
        "width": 6,
        "height": 1
    },
    {
        "id": "a0e631b8.d383b",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "8193652c.e6bda8",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "hydro",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "6dc911ee.ea694",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "27ff61b6.64ceee",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "d68d5539.9f7388",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "25301e7.4048be2",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 7,
        "height": 1
    },
    {
        "id": "4e20bf36.aee24",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 4,
        "width": 7,
        "height": 1
    },
    {
        "id": "cd177d02.fcb47",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 7,
        "height": 1
    },
    {
        "id": "55e06fae.59f7f",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 8,
        "width": 7,
        "height": 1
    },
    {
        "id": "d04eaa91.a399f8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "39ffd0d.5f55a3",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "d50ed20d.eaca2",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 8,
        "width": 6,
        "height": 1
    },
    {
        "id": "d7b17763.6bfd98",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "false",
            "allowTempTheme": "none",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 12,
                "gy": 12,
                "cx": 0,
                "cy": 0,
                "px": 5,
                "py": 5
            }
        }
    },
    {
        "id": "f8e5458c.a3e458",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "2e5354b4.fa9efc",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 8,
        "width": 3,
        "height": 1
    },
    {
        "id": "55451708.9195b8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "8a9743e3.77e45",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "cd7c0825.8eea08",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 7,
        "width": 7,
        "height": 1
    },
    {
        "id": "b116a7ee.4a8928",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "ac904da2.49289",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "d031979b.9eb4d8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 9,
        "width": 6,
        "height": 1
    },
    {
        "id": "f0e58282.f2736",
        "type": "ui_group",
        "name": "Control - Seed Tray",
        "tab": "352c089f.6b44d8",
        "order": 4,
        "disp": true,
        "width": 26,
        "collapse": false,
        "info": "# Seed tray LEDs"
    },
    {
        "id": "352c089f.6b44d8",
        "type": "ui_tab",
        "name": "Hydroponic",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8a9b009f.1b35d",
        "type": "ui_group",
        "name": "Room environment",
        "tab": "352c089f.6b44d8",
        "order": 2,
        "disp": true,
        "width": 10,
        "collapse": false
    },
    {
        "id": "65d119b5.66cb78",
        "type": "ui_group",
        "name": "Seed Tray",
        "tab": "352c089f.6b44d8",
        "order": 3,
        "disp": true,
        "width": 16,
        "collapse": false
    },
    {
        "id": "1c37dc0b.ce28e4",
        "type": "ui_group",
        "name": "Weather forecast",
        "tab": "352c089f.6b44d8",
        "order": 1,
        "disp": true,
        "width": 25,
        "collapse": false
    },
    {
        "id": "7c4daf03.72fb9",
        "type": "ui_group",
        "name": "Graph",
        "tab": "8c3cdae1.44ca38",
        "order": 5,
        "disp": true,
        "width": "30",
        "collapse": true
    },
    {
        "id": "8c3cdae1.44ca38",
        "type": "ui_tab",
        "name": "Grafana",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bdf4ab4f.fa8958",
        "type": "ui_group",
        "name": "Control - Seed tray - Water spray",
        "tab": "352c089f.6b44d8",
        "order": 6,
        "disp": true,
        "width": 7,
        "collapse": false
    },
    {
        "id": "72b67add.961f74",
        "type": "ui_group",
        "name": "Seed tray - Grow lights",
        "tab": "352c089f.6b44d8",
        "order": 5,
        "disp": true,
        "width": 7,
        "collapse": false
    },
    {
        "id": "c099c40e.2210b8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "1c37dc0b.ce28e4",
        "order": 5,
        "width": 10,
        "height": 1
    },
    {
        "id": "ad7de526.c1b6e8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "1c37dc0b.ce28e4",
        "order": 8,
        "width": 10,
        "height": 1
    },
    {
        "id": "9c418c9.365a57",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "8a9b009f.1b35d",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "4b6595e0.6d0f3c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "8a9b009f.1b35d",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "21917ec7.4013a2",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "8a9b009f.1b35d",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "b77f43bb.5fbc6",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "8a9b009f.1b35d",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "ed7418f7.476988",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "8a9b009f.1b35d",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "34905ade.01c8f6",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "72b67add.961f74",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "873a12be.353ec",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "72b67add.961f74",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "b8652617.e609d8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "bdf4ab4f.fa8958",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "4b870eea.64c47",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "bdf4ab4f.fa8958",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "f81a5f9.b8681a",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "bdf4ab4f.fa8958",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "3a9428fd.eaafa8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "bdf4ab4f.fa8958",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "cf66a7f5.16fa38",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "bdf4ab4f.fa8958",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "e30bc267.9a60e",
        "type": "mqtt in",
        "z": "1d22c714.e50369",
        "name": "",
        "topic": "hydro/t/seed_tray",
        "qos": "0",
        "datatype": "auto",
        "broker": "a0e631b8.d383b",
        "x": 160,
        "y": 520,
        "wires": [
            [
                "67398353.3f850c"
            ]
        ]
    },
    {
        "id": "67398353.3f850c",
        "type": "json",
        "z": "1d22c714.e50369",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 520,
        "wires": [
            [
                "4fa1702.8b2e49"
            ]
        ]
    },
    {
        "id": "4fa1702.8b2e49",
        "type": "function",
        "z": "1d22c714.e50369",
        "name": "Parse telemetry JSON",
        "func": "\n\nvar waterQualityMsg = { \n    payload: msg.payload.s.water.ppm\n};\n\nvar waterTempMsg = { \n    payload: msg.payload.s.water.temp\n};\n\nvar waterPhMsg = { \n    payload: msg.payload.s.water.ph\n};\n\nvar luminosityMsg = { \n    payload: msg.payload.s.lux\n};\n\n\nreturn [\n    waterQualityMsg, \n    luminosityMsg, \n    waterTempMsg,\n    waterPhMsg\n];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 440,
        "y": 620,
        "wires": [
            [
                "6a5ac7a1.e350c8",
                "39bf6628.85f8ba",
                "63de4a5e.7c19a4"
            ],
            [
                "b7f7abe3.8afe58",
                "cffdb1e7.15d13",
                "ed698194.f939d"
            ],
            [
                "f9ece608.ba06e8",
                "60f91bf2.98dd04",
                "ddf60a00.0b8158"
            ],
            [
                "4d58abb1.177e64",
                "e3814403.711458",
                "7d66ede7.acf094"
            ]
        ]
    },
    {
        "id": "cd880df.29724f",
        "type": "inject",
        "z": "1d22c714.e50369",
        "d": true,
        "name": "DEBUG - Sample telemetry JSON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"seed_tray\":{\"water_quality\":151.9146},\"room\":{\"temperature\":21.1,\"humidity\":46}}",
        "payloadType": "json",
        "x": 200,
        "y": 460,
        "wires": [
            [
                "67398353.3f850c"
            ]
        ]
    },
    {
        "id": "6a5ac7a1.e350c8",
        "type": "influxdb out",
        "z": "1d22c714.e50369",
        "influxdb": "8193652c.e6bda8",
        "name": "",
        "measurement": "water_quality",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 880,
        "y": 460,
        "wires": []
    },
    {
        "id": "df864faf.11005",
        "type": "ui_switch",
        "z": "87cb301d.9893c",
        "name": "",
        "label": "Grow lights",
        "tooltip": "Led",
        "group": "72b67add.961f74",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "hydroponic/lamp",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 690,
        "y": 100,
        "wires": [
            [
                "acca3832.810b88"
            ]
        ],
        "info": "# Seeds tray light"
    },
    {
        "id": "acca3832.810b88",
        "type": "mqtt out",
        "z": "87cb301d.9893c",
        "name": "Lamp",
        "topic": "hydro/lamp/switch",
        "qos": "0",
        "retain": "",
        "broker": "a0e631b8.d383b",
        "x": 830,
        "y": 100,
        "wires": []
    },
    {
        "id": "1b07e4d1.7c4d9b",
        "type": "influxdb in",
        "z": "5127740.f28848c",
        "influxdb": "8193652c.e6bda8",
        "name": "",
        "query": "SELECT MEAN(temperature) FROM temperature",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 350,
        "y": 120,
        "wires": [
            [
                "3e247b14.95d3a4"
            ]
        ]
    },
    {
        "id": "3e247b14.95d3a4",
        "type": "switch",
        "z": "5127740.f28848c",
        "name": "",
        "property": "payload[0].mean",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "500",
                "vt": "str"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 720,
        "y": 100,
        "wires": [
            [
                "8fd06c84.9d955"
            ],
            []
        ]
    },
    {
        "id": "f3e2c3ad.8ebb2",
        "type": "ui_toast",
        "z": "5127740.f28848c",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "Temperature",
        "name": "Alert ",
        "x": 890,
        "y": 100,
        "wires": []
    },
    {
        "id": "8fd06c84.9d955",
        "type": "function",
        "z": "5127740.f28848c",
        "name": "Simulate an input",
        "func": "msg.payload = \"Temperature too high\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 790,
        "y": 40,
        "wires": [
            [
                "f3e2c3ad.8ebb2"
            ]
        ]
    },
    {
        "id": "b5c12285.51ca3",
        "type": "influxdb out",
        "z": "1d22c714.e50369",
        "influxdb": "8193652c.e6bda8",
        "name": "",
        "measurement": "room_temperature",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 960,
        "y": 1260,
        "wires": []
    },
    {
        "id": "c2314fab.6c8af",
        "type": "influxdb in",
        "z": "1d22c714.e50369",
        "influxdb": "8193652c.e6bda8",
        "name": "Select last entry",
        "query": "SELECT * FROM room_temperature GROUP BY * ORDER BY DESC LIMIT 1",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 1000,
        "y": 1300,
        "wires": [
            [
                "5914ecc9.808654"
            ]
        ]
    },
    {
        "id": "e88e5d3f.13895",
        "type": "delay",
        "z": "1d22c714.e50369",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 840,
        "y": 1300,
        "wires": [
            [
                "c2314fab.6c8af"
            ]
        ]
    },
    {
        "id": "f3b265b2.271218",
        "type": "influxdb out",
        "z": "1d22c714.e50369",
        "influxdb": "8193652c.e6bda8",
        "name": "",
        "measurement": "room_humidity",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 950,
        "y": 1400,
        "wires": []
    },
    {
        "id": "d8035b86.a6d9f8",
        "type": "influxdb in",
        "z": "1d22c714.e50369",
        "influxdb": "8193652c.e6bda8",
        "name": "Select last entry",
        "query": "SELECT * FROM room_humidity GROUP BY * ORDER BY DESC LIMIT 1",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 1000,
        "y": 1440,
        "wires": [
            [
                "58c9bab9.be3fc4"
            ]
        ]
    },
    {
        "id": "55893afd.1a9904",
        "type": "delay",
        "z": "1d22c714.e50369",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 840,
        "y": 1440,
        "wires": [
            [
                "d8035b86.a6d9f8"
            ]
        ]
    },
    {
        "id": "7fe995e5.477afc",
        "type": "influxdb in",
        "z": "1d22c714.e50369",
        "influxdb": "8193652c.e6bda8",
        "name": "Select last entry",
        "query": "SELECT * FROM water_quality GROUP BY * ORDER BY DESC LIMIT 1",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 940,
        "y": 500,
        "wires": [
            [
                "eb66256c.111fa8"
            ]
        ]
    },
    {
        "id": "39bf6628.85f8ba",
        "type": "delay",
        "z": "1d22c714.e50369",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 780,
        "y": 500,
        "wires": [
            [
                "7fe995e5.477afc",
                "f8fee95.2171618"
            ]
        ]
    },
    {
        "id": "b7f7abe3.8afe58",
        "type": "influxdb out",
        "z": "1d22c714.e50369",
        "influxdb": "8193652c.e6bda8",
        "name": "",
        "measurement": "luminosity",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 870,
        "y": 640,
        "wires": []
    },
    {
        "id": "54666026.3c8da",
        "type": "ui_led",
        "z": "1d22c714.e50369",
        "group": "72b67add.961f74",
        "order": 3,
        "width": 2,
        "height": 1,
        "label": "",
        "labelPlacement": "right",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "str"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Grow lights",
        "x": 370,
        "y": 1460,
        "wires": []
    },
    {
        "id": "a2db89f8.423ad8",
        "type": "mqtt in",
        "z": "1d22c714.e50369",
        "name": "",
        "topic": "hydro/lamp/s",
        "qos": "0",
        "datatype": "auto",
        "broker": "a0e631b8.d383b",
        "x": 190,
        "y": 1460,
        "wires": [
            [
                "54666026.3c8da"
            ]
        ]
    },
    {
        "id": "62bc488f.b3dd18",
        "type": "mqtt in",
        "z": "1d22c714.e50369",
        "name": "",
        "topic": "hydro/t/room",
        "qos": "0",
        "datatype": "auto",
        "broker": "a0e631b8.d383b",
        "x": 190,
        "y": 1300,
        "wires": [
            [
                "7023be29.a8b"
            ]
        ]
    },
    {
        "id": "7023be29.a8b",
        "type": "json",
        "z": "1d22c714.e50369",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 1300,
        "wires": [
            [
                "1e6d501a.c6f28"
            ]
        ]
    },
    {
        "id": "1e6d501a.c6f28",
        "type": "function",
        "z": "1d22c714.e50369",
        "name": "Parse telemetry JSON",
        "func": "\nvar roomTemperatureMsg =  { \n        payload: msg.payload.r.t \n};\n    \nvar roomHumidityMsg = { \n    payload: msg.payload.r.h\n}; \n\nreturn [\n    roomTemperatureMsg, \n    roomHumidityMsg\n];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 1300,
        "wires": [
            [
                "b5c12285.51ca3",
                "e88e5d3f.13895",
                "9b1656b1.099d08"
            ],
            [
                "f3b265b2.271218",
                "55893afd.1a9904",
                "a2c963c.a4756a"
            ]
        ]
    },
    {
        "id": "f9ece608.ba06e8",
        "type": "influxdb out",
        "z": "1d22c714.e50369",
        "influxdb": "8193652c.e6bda8",
        "name": "",
        "measurement": "water_temperature",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 880,
        "y": 820,
        "wires": []
    },
    {
        "id": "61e95af8.591824",
        "type": "influxdb in",
        "z": "1d22c714.e50369",
        "influxdb": "8193652c.e6bda8",
        "name": "Select last entry",
        "query": "SELECT * FROM water_temperature GROUP BY * ORDER BY DESC LIMIT 1",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 920,
        "y": 860,
        "wires": [
            [
                "3e5edd24.dccb82"
            ]
        ]
    },
    {
        "id": "60f91bf2.98dd04",
        "type": "delay",
        "z": "1d22c714.e50369",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 760,
        "y": 860,
        "wires": [
            [
                "61e95af8.591824",
                "a34db445.a149b8"
            ]
        ]
    },
    {
        "id": "548aacab.e14fc4",
        "type": "function",
        "z": "3b0df974.6ef076",
        "name": "Set variables - UI",
        "func": "global.set('dateFormat', 'DD-MM-YYYY');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 270,
        "y": 60,
        "wires": [
            [
                "f0fca064.57a0e"
            ]
        ]
    },
    {
        "id": "96522344.acca4",
        "type": "inject",
        "z": "3b0df974.6ef076",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 60,
        "wires": [
            [
                "548aacab.e14fc4"
            ]
        ]
    },
    {
        "id": "f0fca064.57a0e",
        "type": "debug",
        "z": "3b0df974.6ef076",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 80,
        "wires": []
    },
    {
        "id": "509eb66d.0f6d88",
        "type": "ui_button",
        "z": "1d22c714.e50369",
        "name": "IconRefresh",
        "group": "1c37dc0b.ce28e4",
        "order": 1,
        "width": 4,
        "height": 2,
        "passthru": false,
        "label": "",
        "tooltip": "Refresh",
        "color": "",
        "bgcolor": "",
        "icon": "fa-refresh fa-4x",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 1270,
        "y": 300,
        "wires": [
            [
                "45293d1e.aedc04"
            ]
        ]
    },
    {
        "id": "75f934f.744b2cc",
        "type": "ui_text",
        "z": "1d22c714.e50369",
        "group": "1c37dc0b.ce28e4",
        "order": 6,
        "width": 7,
        "height": 1,
        "name": "Description",
        "label": "",
        "format": "{{msg.payload.current.weather[0].description}}",
        "layout": "row-left",
        "x": 1270,
        "y": 100,
        "wires": []
    },
    {
        "id": "c9cadf3c.4dd91",
        "type": "ui_text",
        "z": "1d22c714.e50369",
        "group": "1c37dc0b.ce28e4",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "Wind",
        "label": "",
        "format": "{{msg.payload.current.wind_speed}}&nbsp;&nbsp;<i class=\"wi wi-darksky-wind\"></i>&nbsp;&nbsp;{{msg.payload.current.wind_cardinal}}",
        "layout": "col-center",
        "x": 1250,
        "y": 180,
        "wires": []
    },
    {
        "id": "a77336d4.24c878",
        "type": "ui_text",
        "z": "1d22c714.e50369",
        "group": "1c37dc0b.ce28e4",
        "order": 4,
        "width": 4,
        "height": 1,
        "name": "SunriseTime",
        "label": "",
        "format": "<i class=\"wi wi-owm-01d\"></i>&nbsp;<i class=\"fa fa-arrow-up\"></i>&nbsp;&nbsp;{{msg.payload.current.sunrise}}",
        "layout": "row-left",
        "x": 1270,
        "y": 220,
        "wires": []
    },
    {
        "id": "ffd2dd.8b18ad2",
        "type": "ui_text",
        "z": "1d22c714.e50369",
        "group": "1c37dc0b.ce28e4",
        "order": 7,
        "width": 4,
        "height": 1,
        "name": "SunsetTime",
        "label": "",
        "format": "<i class=\"wi wi-wu-sunny\"></i>&nbsp;<i class=\"fa fa-arrow-down\"></i>&nbsp;&nbsp;{{msg.payload.current.sunset}}",
        "layout": "row-left",
        "x": 1270,
        "y": 260,
        "wires": []
    },
    {
        "id": "85c1ae45.14716",
        "type": "comment",
        "z": "1d22c714.e50369",
        "name": "OpenWeatherMap One Call API for Weather and Forecast",
        "info": "",
        "x": 550,
        "y": 80,
        "wires": []
    },
    {
        "id": "ebeb7e6d.61e6c",
        "type": "ui_text",
        "z": "1d22c714.e50369",
        "group": "1c37dc0b.ce28e4",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "Temperature",
        "label": "",
        "format": "<p style=\"font-size: 200%\">{{msg.payload.current.temp}}</p>",
        "layout": "row-left",
        "x": 1270,
        "y": 140,
        "wires": []
    },
    {
        "id": "c8db48f7.af9608",
        "type": "http request",
        "z": "1d22c714.e50369",
        "name": "Get OWM data",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "https://api.openweathermap.org/data/2.5/onecall",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 760,
        "y": 200,
        "wires": [
            [
                "fe79ff8b.aa786"
            ]
        ]
    },
    {
        "id": "f376d3a0.9a725",
        "type": "inject",
        "z": "1d22c714.e50369",
        "name": "Trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3000",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 400,
        "y": 140,
        "wires": [
            [
                "a887c10.0424b4"
            ]
        ]
    },
    {
        "id": "fe79ff8b.aa786",
        "type": "function",
        "z": "1d22c714.e50369",
        "name": "Format current data",
        "func": "var icon = {};\n\nvar units=flow.get('units');\nif (units===undefined)\n{\n  units=\"imperial\";\n}\n\nfunction timeConvert(UNIX_timestamp){\n  var a = new Date(UNIX_timestamp * 1000);\n  var hour = a.getHours();\n  var suffix = \" am\";\n  if (hour >= 12) {\n    hour = hour - 12;\n    suffix = \" pm\";\n  }\n  if (hour === 0) {\n    hour = 12;\n  }\n  var min = a.getMinutes();\n  if (min < 10) {min = \"0\" + min;}\n  return hour + ':' + min + suffix;\n}\n\nvar degreesToCardinal = function(deg){\nif (deg>11.25 && deg<=33.75){\nreturn \"NNE\";\n  }else if (deg>33.75 && deg<56.25){\nreturn \"NE\";\n  }else if (deg>56.25 && deg<78.75){\nreturn \"ENE\";\n  }else if (deg>78.75 && deg<101.25){\nreturn \"E\";\n  }else if (deg>101.25 && deg<123.75){\nreturn \"ESE\";\n  }else if (deg>123.75 && deg<146.25){\nreturn \"SE\";\n  }else if (deg>146.25 && deg<168.75){\nreturn \"SSE\";\n  }else if (deg>168.75 && deg<191.25){\nreturn \"S\";\n  }else if (deg>191.25 && deg<213.75){\nreturn \"SSW\";\n  }else if (deg>213.75 && deg<236.25){\nreturn \"SW\";\n  }else if (deg>236.25 && deg<258.75){\nreturn \"WSW\";\n  }else if (deg>258.75 && deg<281.25){\nreturn \"W\";\n  }else if (deg>281.25 && deg<303.75){\nreturn \"WNW\";\n  }else if (deg>303.75 && deg<326.25){\nreturn \"NW\";\n  }else if (deg>326.25 && deg<348.75){\nreturn \"NNW\";\n  }else{\nreturn \"N\"; \n  }\n}\n\nif (units == \"imperial\")\n{\n  msg.payload.current.temp = msg.payload.current.temp.toFixed() + ' °F';\n  msg.payload.current.wind_speed = msg.payload.current.wind_speed.toFixed() + ' mph';\n}\nelse // metric units\n{\n  msg.payload.current.temp = msg.payload.current.temp.toFixed(1) + ' °C';\n  msg.payload.current.wind_speed = msg.payload.current.wind_speed.toFixed(1) + ' m/s';\n}\n\nmsg.payload.current.wind_cardinal = degreesToCardinal(msg.payload.current.wind_deg);\nmsg.payload.current.sunrise = timeConvert(msg.payload.current.sunrise);\nmsg.payload.current.sunset = timeConvert(msg.payload.current.sunset);\n\nvar iconString = 'wi-owm-' + msg.payload.current.weather[0].icon + ' wi-4x';\nicon = {\n    ui_control: {\n        icon: iconString\n    }\n}; \n\nreturn [msg, icon];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1000,
        "y": 200,
        "wires": [
            [
                "ebeb7e6d.61e6c",
                "c9cadf3c.4dd91",
                "75f934f.744b2cc",
                "a77336d4.24c878",
                "ffd2dd.8b18ad2"
            ],
            [
                "509eb66d.0f6d88"
            ]
        ]
    },
    {
        "id": "a887c10.0424b4",
        "type": "change",
        "z": "1d22c714.e50369",
        "name": "Set location, appid, units",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.lat",
                "pt": "msg",
                "to": "35.64",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.lon",
                "pt": "msg",
                "to": "139.75",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.appid",
                "pt": "msg",
                "to": "15d881fdb1d9153fb4f7a70b1213113b",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.units",
                "pt": "msg",
                "to": "metric",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "units",
                "pt": "flow",
                "to": "payload.units",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 140,
        "wires": [
            [
                "c8db48f7.af9608"
            ]
        ]
    },
    {
        "id": "45293d1e.aedc04",
        "type": "link out",
        "z": "1d22c714.e50369",
        "name": "Refresh",
        "links": [
            "b8c07479.ab99c8"
        ],
        "x": 1395,
        "y": 300,
        "wires": []
    },
    {
        "id": "b8c07479.ab99c8",
        "type": "link in",
        "z": "1d22c714.e50369",
        "name": "",
        "links": [
            "45293d1e.aedc04"
        ],
        "x": 435,
        "y": 180,
        "wires": [
            [
                "a887c10.0424b4"
            ]
        ]
    },
    {
        "id": "65b18579.9e97ec",
        "type": "ui_text",
        "z": "1d22c714.e50369",
        "group": "8a9b009f.1b35d",
        "order": 7,
        "width": 4,
        "height": 1,
        "name": "Last refresh - humidity",
        "label": "",
        "format": "<i class=\"fa fa-refresh\" aria-hidden=\"true\">&nbsp; {{ msg.payload | date: 'HH:mm:ss'}}</i> ",
        "layout": "row-center",
        "x": 1420,
        "y": 1440,
        "wires": []
    },
    {
        "id": "58c9bab9.be3fc4",
        "type": "function",
        "z": "1d22c714.e50369",
        "name": "Parse telemetry JSON",
        "func": "\nvar newMsg =  { \n        payload: new Date(msg.payload[0].time)\n};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1200,
        "y": 1440,
        "wires": [
            [
                "65b18579.9e97ec"
            ]
        ]
    },
    {
        "id": "5914ecc9.808654",
        "type": "function",
        "z": "1d22c714.e50369",
        "name": "Parse telemetry JSON",
        "func": "\nvar newMsg =  { \n        payload: new Date(msg.payload[0].time)\n};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1200,
        "y": 1300,
        "wires": [
            [
                "1c83a03b.a169c"
            ]
        ]
    },
    {
        "id": "1c83a03b.a169c",
        "type": "ui_text",
        "z": "1d22c714.e50369",
        "group": "8a9b009f.1b35d",
        "order": 8,
        "width": 4,
        "height": 1,
        "name": "Last refresh - temp",
        "label": "",
        "format": "<i class=\"fa fa-refresh\" aria-hidden=\"true\">&nbsp; {{ msg.payload | date: 'HH:mm:ss'}}</i> ",
        "layout": "row-center",
        "x": 1410,
        "y": 1300,
        "wires": []
    },
    {
        "id": "f8fee95.2171618",
        "type": "influxdb in",
        "z": "1d22c714.e50369",
        "influxdb": "8193652c.e6bda8",
        "name": "Select past 24 hours",
        "query": "SELECT * FROM water_quality GROUP BY * ORDER BY DESC LIMIT 500",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 960,
        "y": 540,
        "wires": [
            [
                "fff065af.0a0958"
            ]
        ]
    },
    {
        "id": "ad68634.aaabaa",
        "type": "ui_chart",
        "z": "1d22c714.e50369",
        "name": "Seed tray historical value graph",
        "group": "f0e58282.f2736",
        "order": 2,
        "width": 18,
        "height": 8,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 1830,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "8b39391d.356ce8",
        "type": "function",
        "z": "1d22c714.e50369",
        "name": "",
        "func": "\n var series =[\"Water quality\", \"Water temperature\", \"Luminosity\", \"Water PH\"];\n var labels = [\"Water quality\", \"Water temperature\", \"Luminosity\", \"Water PH\"];\n var data = [];\n var dataWaterQuality = [];\n var dataWaterPH = [];\n var dataWaterTemperature = [];\n var dataLuminosity = [];\n\n var i, len, string;\n\n for (i = 0, len = msg.payload.waterTemperature.length, string = \"\"; i < len; i++) {\n  dataWaterTemperature.push({\n        \"x\":Date.parse(msg.payload.waterTemperature[i].time), \n        \"y\":Number(msg.payload.waterTemperature[i].value)});\n  }\n\n for (i = 0, len = msg.payload.waterQuality.length, string = \"\"; i < len; i++) {\n    dataWaterQuality.push({\n        \"x\":Date.parse(msg.payload.waterQuality[i].time), \n        \"y\":Number(msg.payload.waterQuality[i].value)});\n }\n \n for (i = 0, len = msg.payload.luminosity.length, string = \"\"; i < len; i++) {\n    dataLuminosity.push({\n        \"x\":Date.parse(msg.payload.luminosity[i].time), \n        \"y\":Number(msg.payload.luminosity[i].value)});\n }\n \n for (i = 0, len = msg.payload.waterPH.length, string = \"\"; i < len; i++) {\n    dataWaterPH.push({\n        \"x\":Date.parse(msg.payload.waterPH[i].time), \n        \"y\":Number(msg.payload.waterPH[i].value)});\n }\n     \n\n data = [dataWaterQuality, dataWaterTemperature,\n    dataLuminosity, dataWaterPH];\n    \n msg.payload = [{series, data, labels}];\n\n return msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1600,
        "y": 800,
        "wires": [
            [
                "ad68634.aaabaa"
            ]
        ]
    },
    {
        "id": "a34db445.a149b8",
        "type": "influxdb in",
        "z": "1d22c714.e50369",
        "influxdb": "8193652c.e6bda8",
        "name": "Select past 24 hours",
        "query": "SELECT * FROM water_temperature GROUP BY * ORDER BY DESC LIMIT 500",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 940,
        "y": 900,
        "wires": [
            [
                "7b566b7.097d094"
            ]
        ]
    },
    {
        "id": "fff065af.0a0958",
        "type": "change",
        "z": "1d22c714.e50369",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "origin",
                "pt": "msg",
                "to": "waterQuality",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 540,
        "wires": [
            [
                "abe678a7.9a28b8"
            ]
        ]
    },
    {
        "id": "7b566b7.097d094",
        "type": "change",
        "z": "1d22c714.e50369",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "origin",
                "pt": "msg",
                "to": "waterTemperature",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 900,
        "wires": [
            [
                "abe678a7.9a28b8"
            ]
        ]
    },
    {
        "id": "abe678a7.9a28b8",
        "type": "join",
        "z": "1d22c714.e50369",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "origin",
        "joiner": "message",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1470,
        "y": 800,
        "wires": [
            [
                "8b39391d.356ce8"
            ]
        ]
    },
    {
        "id": "3e5edd24.dccb82",
        "type": "function",
        "z": "1d22c714.e50369",
        "name": "Parse telemetry JSON",
        "func": "\nvar newMsg =  { \n        payload: new Date(msg.payload[0].time)\n};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1180,
        "y": 860,
        "wires": [
            [
                "ad8e7270.bfabd"
            ]
        ]
    },
    {
        "id": "ad8e7270.bfabd",
        "type": "ui_text",
        "z": "1d22c714.e50369",
        "group": "65d119b5.66cb78",
        "order": 6,
        "width": 4,
        "height": 1,
        "name": "Last refresh - water temp",
        "label": "",
        "format": "<i class=\"fa fa-refresh\" aria-hidden=\"true\">&nbsp; {{ msg.payload | date: 'HH:mm:ss'}}</i> ",
        "layout": "row-center",
        "x": 1410,
        "y": 860,
        "wires": []
    },
    {
        "id": "383c0ad2.b2e656",
        "type": "ui_text",
        "z": "1d22c714.e50369",
        "group": "65d119b5.66cb78",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "Last refresh - water quality",
        "label": "",
        "format": "<i class=\"fa fa-refresh\" aria-hidden=\"true\">&nbsp; {{ msg.payload | date: 'HH:mm:ss'}}</i> ",
        "layout": "row-center",
        "x": 1440,
        "y": 500,
        "wires": []
    },
    {
        "id": "eb66256c.111fa8",
        "type": "function",
        "z": "1d22c714.e50369",
        "name": "Parse telemetry JSON",
        "func": "\nvar newMsg =  { \n        payload: new Date(msg.payload[0].time)\n};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1200,
        "y": 500,
        "wires": [
            [
                "383c0ad2.b2e656"
            ]
        ]
    },
    {
        "id": "c1e51a25.bcd2f8",
        "type": "ui_switch",
        "z": "87cb301d.9893c",
        "name": "",
        "label": "Water spray",
        "tooltip": "",
        "group": "bdf4ab4f.fa8958",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 210,
        "y": 360,
        "wires": [
            [
                "dec1467a.516188",
                "e6b06459.aad598"
            ]
        ]
    },
    {
        "id": "b9dd843.3247178",
        "type": "delay",
        "z": "87cb301d.9893c",
        "name": "",
        "pauseType": "delay",
        "timeout": "20",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 660,
        "y": 420,
        "wires": [
            [
                "25335612.5b58da"
            ]
        ]
    },
    {
        "id": "e6b06459.aad598",
        "type": "mqtt out",
        "z": "87cb301d.9893c",
        "name": "Water spray",
        "topic": "hydro/water_spray/switch",
        "qos": "0",
        "retain": "",
        "broker": "a0e631b8.d383b",
        "x": 430,
        "y": 360,
        "wires": []
    },
    {
        "id": "d0f89a7b.d9a8f8",
        "type": "ui_led",
        "z": "1d22c714.e50369",
        "group": "bdf4ab4f.fa8958",
        "order": 3,
        "width": 2,
        "height": 1,
        "label": "",
        "labelPlacement": "right",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "str"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "water spray",
        "x": 390,
        "y": 1520,
        "wires": []
    },
    {
        "id": "a1ae6930.2b69c8",
        "type": "mqtt in",
        "z": "1d22c714.e50369",
        "name": "",
        "topic": "hydro/water_spray/s",
        "qos": "0",
        "datatype": "auto",
        "broker": "a0e631b8.d383b",
        "x": 210,
        "y": 1520,
        "wires": [
            [
                "d0f89a7b.d9a8f8"
            ]
        ]
    },
    {
        "id": "8c5d6ffa.8aeae",
        "type": "link out",
        "z": "87cb301d.9893c",
        "name": "",
        "links": [],
        "x": -35,
        "y": 60,
        "wires": []
    },
    {
        "id": "25335612.5b58da",
        "type": "change",
        "z": "87cb301d.9893c",
        "name": "Switch to off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 420,
        "wires": [
            [
                "c1e51a25.bcd2f8"
            ]
        ]
    },
    {
        "id": "dec1467a.516188",
        "type": "switch",
        "z": "87cb301d.9893c",
        "name": "When water spray on",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 460,
        "y": 420,
        "wires": [
            [
                "b9dd843.3247178"
            ]
        ]
    },
    {
        "id": "134f40ec.1ec4bf",
        "type": "camerapi-takephoto",
        "z": "1d22c714.e50369",
        "filemode": "1",
        "filename": "photo1.JPEG",
        "filedefpath": "0",
        "filepath": "~/.node-red/projects/Hydroponic/ui-media/",
        "fileformat": "jpeg",
        "resolution": "4",
        "rotation": "0",
        "fliph": "0",
        "flipv": "0",
        "brightness": "50",
        "contrast": "0",
        "sharpness": "0",
        "quality": "80",
        "imageeffect": "none",
        "exposuremode": "night",
        "iso": "0",
        "agcwait": "1.0",
        "led": "0",
        "awb": "auto",
        "name": "Take Photo",
        "x": 350,
        "y": 1660,
        "wires": [
            [
                "ec42ca0e.6c9dd8"
            ]
        ]
    },
    {
        "id": "ec42ca0e.6c9dd8",
        "type": "ui_template",
        "z": "1d22c714.e50369",
        "group": "f0e58282.f2736",
        "name": "Seed tray image",
        "order": 1,
        "width": 8,
        "height": 8,
        "format": "<md-card class=\"md-primary\">\n  \n  <md-card-actions>\n   <md-button ng-click=\"send({payload:1})\" >\n       <ui-icon icon=\"camera\"></ui-icon>Take a photo<br>\n   </md-button>\n   <md-button ng-click=\"send({payload:1})\" >\n     <i class=\"fa fa-refresh\" aria-hidden=\"true\">  {{timestamp | date: 'MMM d, y - HH:mm:ss'}}</i>\n   </md-button>\n  </md-card-actions>\n  \n  <md-card-header>\n    <md-card-media>\n         <img width=\"360\" height=\"240\" src=\"{{photoURL}}\" class=\"md-card-image\" >\n    </md-card-media>\n  </md-card-header>\n\n</md-card>\n\n\n\n<script>\n\n(function(scope) {\n    // $watch fires each time the node is triggered in the flow\n    scope.$watch('msg', function(msg) {\n        scope.timestamp = new Date();\n        scope.photoURL = \"/photo1.JPEG?_=\" + new Date();\n    });\n\n})(scope);\n\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 360,
        "y": 1720,
        "wires": [
            [
                "134f40ec.1ec4bf"
            ]
        ]
    },
    {
        "id": "e78bf6ed.43bf08",
        "type": "inject",
        "z": "1d22c714.e50369",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 180,
        "y": 1660,
        "wires": [
            [
                "134f40ec.1ec4bf"
            ]
        ]
    },
    {
        "id": "cffdb1e7.15d13",
        "type": "delay",
        "z": "1d22c714.e50369",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 780,
        "y": 680,
        "wires": [
            [
                "5e814313.84529c",
                "afc9c5e2.a75b78"
            ]
        ]
    },
    {
        "id": "5e814313.84529c",
        "type": "influxdb in",
        "z": "1d22c714.e50369",
        "influxdb": "8193652c.e6bda8",
        "name": "Select past 24 hours",
        "query": "SELECT * FROM luminosity GROUP BY * ORDER BY DESC LIMIT 500",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 960,
        "y": 680,
        "wires": [
            [
                "517995d5.866e6c"
            ]
        ]
    },
    {
        "id": "517995d5.866e6c",
        "type": "change",
        "z": "1d22c714.e50369",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "origin",
                "pt": "msg",
                "to": "luminosity",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 680,
        "wires": [
            [
                "abe678a7.9a28b8"
            ]
        ]
    },
    {
        "id": "ed698194.f939d",
        "type": "ui_artlessgauge",
        "z": "1d22c714.e50369",
        "group": "65d119b5.66cb78",
        "order": 4,
        "width": 4,
        "height": 4,
        "name": "Luminosity",
        "icon": "fa-fire",
        "label": "Luminosity",
        "unit": "Lux",
        "layout": "radial",
        "decimals": 0,
        "differential": false,
        "minmax": true,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload",
        "sectors": [
            {
                "val": 0,
                "col": "#d0060a",
                "t": "min",
                "dot": 0
            },
            {
                "val": 300,
                "col": "#ff7d00",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 800,
                "col": "#11d432",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 1000,
                "col": "#239a00",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 2000,
                "col": "#239a00",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "5",
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 790,
        "y": 600,
        "wires": []
    },
    {
        "id": "ddf60a00.0b8158",
        "type": "ui_artlessgauge",
        "z": "1d22c714.e50369",
        "group": "65d119b5.66cb78",
        "order": 2,
        "width": 4,
        "height": 4,
        "name": "Water temperature",
        "icon": "fa-thermometer",
        "label": "Water temperature",
        "unit": " °C",
        "layout": "radial",
        "decimals": 0,
        "differential": false,
        "minmax": true,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload",
        "sectors": [
            {
                "val": 0,
                "col": "#ff9900",
                "t": "min",
                "dot": 0
            },
            {
                "val": 5,
                "col": "#cccc00",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 15,
                "col": "#337f24",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 25,
                "col": "#d7771d",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 40,
                "col": "#d7771d",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "5",
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 790,
        "y": 780,
        "wires": []
    },
    {
        "id": "63de4a5e.7c19a4",
        "type": "ui_artlessgauge",
        "z": "1d22c714.e50369",
        "group": "65d119b5.66cb78",
        "order": 1,
        "width": 4,
        "height": 4,
        "name": "Water Quality",
        "icon": "fa-filter",
        "label": "Water quality",
        "unit": "PPM",
        "layout": "radial",
        "decimals": 0,
        "differential": false,
        "minmax": true,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload",
        "sectors": [
            {
                "val": 0,
                "col": "#ff6666",
                "t": "min",
                "dot": 0
            },
            {
                "val": 500,
                "col": "#ff9900",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 1000,
                "col": "#009999",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 1600,
                "col": "#ff9900",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 2500,
                "col": "#ff9900",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "5",
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 800,
        "y": 420,
        "wires": []
    },
    {
        "id": "9b1656b1.099d08",
        "type": "ui_artlessgauge",
        "z": "1d22c714.e50369",
        "group": "8a9b009f.1b35d",
        "order": 1,
        "width": 4,
        "height": 4,
        "name": "Room temperature DHT11",
        "icon": "fa-thermometer-full",
        "label": "Temperature",
        "unit": " °C",
        "layout": "radial",
        "decimals": 0,
        "differential": false,
        "minmax": true,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload",
        "sectors": [
            {
                "val": 0,
                "col": "#ff3333",
                "t": "min",
                "dot": 0
            },
            {
                "val": 12,
                "col": "#ff9900",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 18,
                "col": "#337f24",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 26,
                "col": "#ff9900",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 30,
                "col": "#ff3333",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 40,
                "col": "#ff3333",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "5",
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 900,
        "y": 1200,
        "wires": []
    },
    {
        "id": "a2c963c.a4756a",
        "type": "ui_artlessgauge",
        "z": "1d22c714.e50369",
        "group": "8a9b009f.1b35d",
        "order": 2,
        "width": 4,
        "height": 4,
        "name": "Room Humidity DHT11",
        "icon": "fa-tint ",
        "label": "Humidity",
        "unit": "%",
        "layout": "radial",
        "decimals": 0,
        "differential": false,
        "minmax": true,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload",
        "sectors": [
            {
                "val": 0,
                "col": "#ff3333",
                "t": "min",
                "dot": 0
            },
            {
                "val": 15,
                "col": "#ff9900",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 25,
                "col": "#337f24",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 55,
                "col": "#ff2300",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 100,
                "col": "#ff2300",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "5",
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 890,
        "y": 1360,
        "wires": []
    },
    {
        "id": "afc9c5e2.a75b78",
        "type": "influxdb in",
        "z": "1d22c714.e50369",
        "influxdb": "8193652c.e6bda8",
        "name": "Select last entry",
        "query": "SELECT * FROM luminosity GROUP BY * ORDER BY DESC LIMIT 1",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 940,
        "y": 720,
        "wires": [
            [
                "5a973813.655e68"
            ]
        ]
    },
    {
        "id": "5a973813.655e68",
        "type": "function",
        "z": "1d22c714.e50369",
        "name": "Parse telemetry JSON",
        "func": "\nvar newMsg =  { \n        payload: new Date(msg.payload[0].time)\n};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1200,
        "y": 720,
        "wires": [
            [
                "cb675a7c.a85308"
            ]
        ]
    },
    {
        "id": "cb675a7c.a85308",
        "type": "ui_text",
        "z": "1d22c714.e50369",
        "group": "65d119b5.66cb78",
        "order": 8,
        "width": 4,
        "height": 1,
        "name": "Last refresh - luminosity",
        "label": "",
        "format": "<i class=\"fa fa-refresh\" aria-hidden=\"true\">&nbsp; {{ msg.payload | date: 'HH:mm:ss'}}</i> ",
        "layout": "row-center",
        "x": 1470,
        "y": 720,
        "wires": []
    },
    {
        "id": "9fe09f73.82d02",
        "type": "ui_text_input",
        "z": "87cb301d.9893c",
        "name": "",
        "label": "Timer start",
        "tooltip": "",
        "group": "72b67add.961f74",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "on",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "80dfb7d3.791078"
            ]
        ]
    },
    {
        "id": "6f210002.6f55a",
        "type": "ui_text_input",
        "z": "87cb301d.9893c",
        "name": "",
        "label": "Timer stop",
        "tooltip": "",
        "group": "72b67add.961f74",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "off",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "c145646.1fd8e98"
            ]
        ]
    },
    {
        "id": "a03a10b3.da32b",
        "type": "eztimer",
        "z": "87cb301d.9893c",
        "name": "",
        "debug": false,
        "autoname": "13:39:00 - 13:39:30",
        "tag": "eztimer",
        "suspended": false,
        "sendEventsOnSuspend": false,
        "lat": "",
        "lon": "",
        "timerType": "1",
        "startupMessage": true,
        "ontype": "2",
        "ontimesun": "dawn",
        "ontimetod": "13:39:00",
        "onpropertytype": "msg",
        "onproperty": "payload",
        "onvaluetype": "bool",
        "onvalue": "true",
        "onoffset": 0,
        "onrandomoffset": 0,
        "onsuppressrepeats": false,
        "offtype": "2",
        "offtimesun": "dusk",
        "offtimetod": "13:39:30",
        "offduration": "00:01:00",
        "offpropertytype": "msg",
        "offproperty": "payload",
        "offvaluetype": "bool",
        "offvalue": "false",
        "offoffset": 0,
        "offrandomoffset": 0,
        "offsuppressrepeats": false,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "sun": true,
        "x": 510,
        "y": 100,
        "wires": [
            [
                "df864faf.11005"
            ]
        ]
    },
    {
        "id": "991c539f.fb285",
        "type": "comment",
        "z": "87cb301d.9893c",
        "name": "### This scenario is permanent and requires a file to read an write to ###",
        "info": "",
        "x": 340,
        "y": 220,
        "wires": []
    },
    {
        "id": "ef11c701.cd9fa8",
        "type": "file",
        "z": "87cb301d.9893c",
        "name": "WriteFile",
        "filename": "/home/pi/.node-red/projects/Hydroponic/time-schedule-water-pump.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 780,
        "y": 274,
        "wires": [
            []
        ]
    },
    {
        "id": "7822012a.876838",
        "type": "inject",
        "z": "87cb301d.9893c",
        "name": "FireAfterReboot",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "string"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "2920de2a.a86312"
            ]
        ]
    },
    {
        "id": "2920de2a.a86312",
        "type": "file in",
        "z": "87cb301d.9893c",
        "name": "ReadFile",
        "filename": "/home/pi/.node-red/projects/Hydroponic/time-schedule-water-pump.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 360,
        "y": 280,
        "wires": [
            [
                "18d69559.b452cb"
            ]
        ]
    },
    {
        "id": "18d69559.b452cb",
        "type": "ui_time_scheduler",
        "z": "87cb301d.9893c",
        "group": "bdf4ab4f.fa8958",
        "name": "Water spray scheduler",
        "startDay": "1",
        "refresh": 60,
        "devices": [
            "Schedule water spray"
        ],
        "customPayload": false,
        "eventMode": true,
        "outputs": 2,
        "order": 4,
        "width": 6,
        "height": 4,
        "x": 560,
        "y": 280,
        "wires": [
            [
                "ef11c701.cd9fa8"
            ],
            [
                "c1e51a25.bcd2f8"
            ]
        ]
    },
    {
        "id": "80dfb7d3.791078",
        "type": "function",
        "z": "87cb301d.9893c",
        "name": "",
        "func": "var date = new Date(msg.payload);\nmsg.payload = { \n    \"ontime\": date.getUTCHours() + \":\" + date.getMinutes(),\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 320,
        "y": 80,
        "wires": [
            [
                "a03a10b3.da32b"
            ]
        ]
    },
    {
        "id": "c145646.1fd8e98",
        "type": "function",
        "z": "87cb301d.9893c",
        "name": "",
        "func": "var date = new Date(msg.payload);\nmsg.payload = { \n    \"offtime\": date.getUTCHours() + \":\" + date.getMinutes(),\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 320,
        "y": 120,
        "wires": [
            [
                "a03a10b3.da32b"
            ]
        ]
    },
    {
        "id": "4d58abb1.177e64",
        "type": "ui_artlessgauge",
        "z": "1d22c714.e50369",
        "group": "65d119b5.66cb78",
        "order": 3,
        "width": 4,
        "height": 4,
        "name": "Water PH",
        "icon": "fa-lemon-o",
        "label": "Water PH",
        "unit": "PH",
        "layout": "radial",
        "decimals": "2",
        "differential": true,
        "minmax": true,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload",
        "sectors": [
            {
                "val": 0,
                "col": "#ff1900",
                "t": "min",
                "dot": 0
            },
            {
                "val": 5,
                "col": "#0ecc00",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 6.5,
                "col": "#fb1900",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 14,
                "col": "#fb1900",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "5",
        "bgcolorFromTheme": true,
        "diffCenter": "6",
        "x": 760,
        "y": 960,
        "wires": []
    },
    {
        "id": "e3814403.711458",
        "type": "influxdb out",
        "z": "1d22c714.e50369",
        "influxdb": "8193652c.e6bda8",
        "name": "",
        "measurement": "water_ph",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 850,
        "y": 1000,
        "wires": []
    },
    {
        "id": "4594e62e.1bff58",
        "type": "influxdb in",
        "z": "1d22c714.e50369",
        "influxdb": "8193652c.e6bda8",
        "name": "Select last entry",
        "query": "SELECT * FROM water_ph GROUP BY * ORDER BY DESC LIMIT 1",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 920,
        "y": 1040,
        "wires": [
            [
                "9442afba.2d0c3"
            ]
        ]
    },
    {
        "id": "7d66ede7.acf094",
        "type": "delay",
        "z": "1d22c714.e50369",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 760,
        "y": 1040,
        "wires": [
            [
                "4594e62e.1bff58",
                "42b0c0f5.42fdf"
            ]
        ]
    },
    {
        "id": "42b0c0f5.42fdf",
        "type": "influxdb in",
        "z": "1d22c714.e50369",
        "influxdb": "8193652c.e6bda8",
        "name": "Select past 24 hours",
        "query": "SELECT * FROM water_ph GROUP BY * ORDER BY DESC LIMIT 500",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 940,
        "y": 1080,
        "wires": [
            [
                "a12ec6c.7faa138"
            ]
        ]
    },
    {
        "id": "a12ec6c.7faa138",
        "type": "change",
        "z": "1d22c714.e50369",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "origin",
                "pt": "msg",
                "to": "waterPH",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 1080,
        "wires": [
            [
                "abe678a7.9a28b8"
            ]
        ]
    },
    {
        "id": "9442afba.2d0c3",
        "type": "function",
        "z": "1d22c714.e50369",
        "name": "Parse telemetry JSON",
        "func": "\nvar newMsg =  { \n        payload: new Date(msg.payload[0].time)\n};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1180,
        "y": 1040,
        "wires": [
            [
                "1aca970a.1a6d09"
            ]
        ]
    },
    {
        "id": "1aca970a.1a6d09",
        "type": "ui_text",
        "z": "1d22c714.e50369",
        "group": "65d119b5.66cb78",
        "order": 7,
        "width": 4,
        "height": 1,
        "name": "Last refresh - water PH",
        "label": "",
        "format": "<i class=\"fa fa-refresh\" aria-hidden=\"true\">&nbsp; {{ msg.payload | date: 'HH:mm:ss'}}</i> ",
        "layout": "row-center",
        "x": 1410,
        "y": 1040,
        "wires": []
    }
]